
<div class="form-group">
	<label for="title">Event name</label>
	<input type="text" name="title" id="title" class="form-control" required
		{% if log and log.title %}value="{{log.title}}"{% endif %}/>
</div>

<div class="form-group">
	<label for="event_date">Date</label>
	<input type="date" name="event_date" id="event_date" class="form-control" required
		{% if log and log.event_date %}value="{{log.event_date}}"{% endif %}
		{% if not log and today %}value="{{today}}"{% endif %}/>
</div>

<div class="form-group">
	<label for="rating">Stars</label>
	<select name="rating" class="form-control">
		<option value=""></option>
		{% for i in valid_ratings %}
		<option
			value="{{i}}"
			{% if log and log.rating and i == log.rating %}selected{% endif %}>
			{{i}}
		</option>
		{% endfor %}
	</select>
</div>

<div class="form-group">
	<label for="tags">Tags</label>
	<input type="text" name="tags" id="tags" class="form-control"
		{% if log and log.tags %}value="{{log.tags | join(" ")}}"{% endif %}/>
</div>

<div class="form-group">
	<label for="category">Category</label>

	{% if categories %}
	<select id="category" name="category" class="form-control" data-bind="value: category">
		{% for category in categories %}
		<option {% if log and log.category and log.category == category %}selected{% endif %}>{{category}}</option>
		{% endfor %}
	</select>
	{% endif %}

	{% if not categories %}
	<input type="text" name="category" id="category" class="form-control"
		{% if log and log.category %}value="{{log.category}}"{% endif %}/>
	{% endif %}
</div>

<div class="form-group">
	<label for="category">URL</label>
	<input type="text" name="url" id="url" class="form-control"
		{% if log and log.url %}value="{{log.url}}"{% endif %}/>
</div>

<div class="form-group" data-bind="visible: category() === 'Film'">
	<label for="bechdel-test">Bechdel test</label>
	<input type="checkbox" id="bechdel-test" name="bechdel_test" value="true" {% if log and log.bechdel_test %}checked{% endif %}>
</div>

<div class="form-group" data-bind="visible: hasPlot()">
	<label for="violence-against-women">Uses violence against women as a plot device?</label>
	<input type="checkbox" id="violence-against-women" name="violence_against_women" value="true" {% if log and log.violence_against_women %}checked{% endif %}>
</div>

<div class="form-group">
	<label for="content">Notes</label>
	<textarea id="content" name="content" class="form-control" rows="3">{% if log and log.content %}{{log.content}}{% endif %}</textarea>
</div>

<div class="form-group">
<button type="submit" class="btn btn-primary">Log</button>
</div>

{% if log %}
<input type="hidden" name="log_id" value="{{log.id}}">
{% endif %}

</form>
