[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yoyo-migrations = "*"
bpython = "*"

[packages]
gunicorn = "*"
redis = "*"
Flask = "*"
Flask-SSLify = "*"
wtforms = "*"
mistune = "*"
psycopg = {extras = ["binary"], version = "*"}

[requires]
python_version = "3.13"
