[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sqlalchemy = "*"
psycopg2 = "*"
yoyo-migrations = "*"

[packages]
gunicorn = "*"
redis = "*"
Flask = "*"
Flask-SSLify = "*"

[requires]
python_version = "3.8"
