{% extends 'default.html' %}

{% block title %}Import logs{% endblock %}

{% block content %}
<div class="container-lg">
    <h1>Import</h1>

    <form>
        <div class="mb-3">
            <label for="import-data" class="form-label">Import Data</label>
            <textarea id="import-data"
                name="import-data"
                class="form-control"
                ></textarea>
        </div>

        <div><button type="submit" class="btn btn-primary">Import</button></div>
    </form>
</div>
{% endblock %}