	{% extends 'base.html' %}

{% block title %}Logs{% endblock %}

{% block body %}
<div class="container-fluid">
<header>
<h1>Your events</h1>
</header>
</div>

<div class="container-fluid">
<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Date</th>
			<th>Details</th>
		</tr>
	</thead>

	<tbody>
		{% for log in logged %}
		<tr>
			<td>{{log.name}} <sup><a href="/log/{{log.key.urlsafe()}}">Edit</a></sup></td>
			<td>{{log.date}}</td>
			<td>

				{% if log.rating %}
				{{log.rating | stars}}
				{% endif %}

				{% if log.notes %}
				<div>
				{{log.notes}}
				</div>
				{% endif %}

				{% if log.tags %}
				<p>Tags: {{log.tags|join(", ")}}</p>
				{% endif %}

				{% if log.category %}
				<p>Category: {{log.category}}</p>
				{% endif %}

				{% if log.url %}
				<p><a href="{{log.url}}">{{log.url}}</a></p>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</div>

{% endblock %}
