{% extends 'default.html' %}

{% block title %}{% if category_name %}{{category_name | capitalize}} | {% endif %}All Logs{% endblock %}

{% block content %}

<header>
{% if category_name %}
<h1>Logs for {{category_name}}</h1>
{% else %}
<h1>Your logged events</h1>
{% endif %}
</header>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Date</th>
			<th>Rating</th>
			<th>Category</th>
			<th>Details</th>
		</tr>
	</thead>

	<tbody>
		{% for log in logged %}
		<tr>
			<td><a href="{{url_for('log', log_id=log.id)}}">{{log.title}}</a></td>
			<td>{{log.event_date}}</td>
			
			<td>{% if log.rating %}<span title="{{log.rating}} star">{{log.rating | stars}}</span>{% endif %}</td>
			
			<td>
				{% if log.category %}
				<a href="/logs/category/{{log.category | lower}}">{{log.category}}</a>
				{% endif %}
			</td>
			<td>

				{% if log.content %}
				<div class="mb-2">
				{{log.content}}
				</div>
				{% endif %}

				{% if log.tags %}
				<p>Tags: {{log.tags|join(", ")}}</p>
				{% endif %}

				
				{% if log.bechdel_test %}
				<p>Passes the <a href="https://en.wikipedia.org/wiki/Bechdel_test">Bechdel test</a></p>
				{% endif %}

				
				{% if log.url %}
				<p><a href="{{log.url}}">{{log.url}}</a></p>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
